@model MarkdownFileHandler.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>File Hanlder 2.0</h1>
    <p class="lead">To connect your OneDrive for Business and SharePoint environment to this file handler example, sign in using the link in the top right corner.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This sample provides a few examples of how you can integrate your application with OneDrive for Business and SharePoint through File Handlers v2.0. This file handler
            implements a custom set of actions on files that allow you to convert an Office document to PDF, merge a collection of files into a ZIP file, and preview Markdown format text files.
        </p>
    </div>
    @if (!string.IsNullOrEmpty(Model.SignInName))
    {
    <div class="col-md-4">
        <h2>Signed In</h2>
        <p>You are signed in. Your signin name is @Model.SignInName and your display name is @Model.DisplayName .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    }
</div>