@model MarkdownFileHandler.Models.AsyncActionModel
@{
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
    ViewBag.Title = "Compress Files";
}

<h2>Creating ZIP archive...</h2>

<script type="text/javascript">
    var refreshTimerId = 0;
    var refreshStatus = function() {
        $("#asyncResults").load('@(Url.Action("GetAsyncJobStatus", "FileHandler", null, Request.Url.Scheme))?identifier=@Model.JobIdentifier');
    }
</script>

<div id="asyncResults">
  @{ Html.RenderPartial("AsyncJobStatus", Model); }
</div>

