@model MarkdownFileHandler.Models.AsyncActionModel
@{
    Layout = "~/Views/Shared/_LayoutAsyncJob.cshtml";
    ViewBag.Title = "Converting to PDF";
}

<h2>Converting to PDF</h2>

<script type="text/javascript">
    var refreshTimerId = 0;
    var refreshStatus = function() {
        $("#asyncResults").load('@(Url.Action("GetAsyncJobStatus", "FileHandler", null, Request.Url.Scheme))?identifier=@Model.JobIdentifier');
    }
</script>  

<div id="asyncResults">
    @{ Html.RenderPartial("AsyncJobStatus", Model); }
</div>

