@model MarkdownFileHandler.Models.MarkdownFileModel
@{
    ViewBag.Title = "New File - Markdown Editor";
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
}

@section ToolbarButtons
{
    <li><a href="#">Save</a></li>
    <li><a href="#">Delete</a></li>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1>Error occured</h1>
    <p>An error occured: @Model.ErrorMessage</p>
}

<textarea id="markdownEditor">@Model.MarkdownFileContent</textarea>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdownEditor") });
</script>




