@{
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
    ViewBag.Title = "Preview";
    ViewBag.HideNavigationBar = true;
}
@Model.FileContent

@if (Model.ErrorMessage != null)
{
    <h4>@Model.ErrorMessage</h4>
}


<div class="row">
    <div class="col-md-2">Other properties:</div>
    <div class="col-md-10">@Model.ActivationParameters.OtherPropertyValues</div>
</div>